<h1>Shortener</h1>

<%= form_with model: @link, url: root_path do |form| %>
  <%= form.text_area :url %>
  <%= form.submit %>
<% end %>
</br>
Shortened url list:
<% @links.each do |l| %>
<p><%= link_to l.url, link_path(l.token) %></p>
<% end %>
