<%= link_to 'Home', root_path %>

<!-- <p>shorturl: <%= link_to external_url(@link.token), external_url(@link.token), data: { turbolinks: false } %></p> -->
<p>shorturl: <%= link_to external_url(@link.token), external_url(@link.token), method: :get %></p>
<p>shorturl visitor count: <%= @link.visits.size %></p>
<p>
  visitors:
  <% @link.visits.each do |v| %>
  <p>ip: "<%= v.ip %>"<% end %></p>
</p>
